@{
    NordicNest.Model.BasicProperties.CurrentPage = "Home";
    Model.NavBar.NavBarConnection navBarConnection = new Model.NavBar.NavBarConnection();
    List<Model.NavBar.NavBarProperties> NBP = navBarConnection.GetNavBars();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Nordic Nest</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NordicNest.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/f3d48ce569.js" crossorigin="anonymous"></script>
    <link href="/css/ScrollBar.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body>
    <nav class="bg-gray-800 text-white fixed top-0 w-full z-50">
        <div class="max-w-6xl mx-auto px-4">
            <div class="flex justify-between">
                <div class="flex space-x-4">
                    <!-- Logo -->
                    <div class="py-3">
                        <a asp-page="/index" class="py-2 px-2 rounded-3 hover:bg-white hover:text-blue-700 hover:font-bold transition duration-300">
                            <i class="text-2xl fas fa-hand-holding-usd" stroke="currentColor"></i>
                            <span class="font-bold">Nordic Nest</span>
                        </a>
                    </div>
                    <!-- Primary Navbar items -->
                    <div class="hidden lg:flex items-center space-x-1">
                        @foreach (var navbar in NBP)
                        {
                            if (navbar.IsAuthBtn == false)
                            {
                                <a asp-page="@navbar.URL" class="py-2 px-3 bg-green-700 rounded transition duration-300 hover:bg-white hover:text-black hover:font-bold hover:scale-125">@navbar.Name</a>
                            }
                        }
                    </div>
                </div>
                <!-- Secondary Navbar items -->
                <div class="hidden lg:flex items-center space-x-1">
                    @foreach (var navbar in NBP)
                    {
                        if (navbar.IsAuthBtn == true)
                        {
                            <a asp-page="@navbar.URL" class="py-2 px-3 bg-blue-700 rounded transition duration-300 hover:bg-white hover:text-black hover:font-bold hover:scale-125">@navbar.Name</a>
                        }
                    }
                </div>
                <!-- Mobile menu button -->
                <div class="lg:hidden flex items-center">
                    <button class="mobile-menu-button">
                        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <!-- Mobile Menu -->
        <div class="mobile-menu hidden lg:hidden flex flex-col items-center justify-center space-y-1">
            @foreach (var navbar in NBP)
            {
                if (navbar.IsAuthBtn == true)
                {
                    <a asp-page="@navbar.URL" class="py-2 px-3 bg-blue-700 text-white rounded hover:font-bold">@navbar.Name</a>
                }
                else
                {
                    <a asp-page="@navbar.URL" class="block py-2 px-4 text-sm text-white rounded">@navbar.Name</a>
                }
            }
        </div>

    </nav>

    <script src="/js/Navbar.js"></script>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>