@page
@using NordicNest.Model.SavingLoanDatabase;
@using System.Text.Json;
@model NordicNest.Pages.DashBoardModel
@{
	Layout = null;
	bool gender = true;
	int[] progressBars = { Model.firstProgressBar, Model.secondProgressBar };
	NordicNest.Model.BasicProperties.CurrentPage = "Home";
	Model.NavBar.NavBarConnection navBarConnection = new Model.NavBar.NavBarConnection();
	List<Model.NavBar.NavBarProperties> NBP = navBarConnection.GetNavBars();
	string genderClass = (gender) ? "text-pink-500" : "text-blue-500";
	string borderClass = (gender) ? "border-pink-500" : "border-blue-500";
	string iconClass = (gender) ? "fas fa-female" : "fas fa-male";
	string labelsJson = JsonSerializer.Serialize(Model.labels);
	string dataJson = JsonSerializer.Serialize(Model.data);
	SavingConnection savingConnection = new SavingConnection();
	List<SLVariable> sLVariables = savingConnection.GetSavingData();

	foreach (SLVariable v in sLVariables)
	{
		Console.WriteLine($"ClientID: {v.ID}, SavingName: {v.Name}, TotalAmount: {v.TotalAmount}, CurrentBalance: {v.AmountBalance}");
	}
}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
<script src="https://kit.fontawesome.com/f3d48ce569.js" crossorigin="anonymous"></script>

@* bg-teal-400 *@
<body class="bg-[#212529] flex items-center justify-center">

	<div class="grid grid-cols-1 xl:grid-cols-2 bp-1800:grid-cols-4 gap-3 p-2 ">
		<!-- Saving Chart -->
		<div class="order-4 bp-1800:order-1 col-span-2 bp-1800:col-span-1 bp-1800:row-span-1 bg-white rounded-2xl shadow-xl min-h-[100px] text-center hover:border-blue-500 duration-300 relative p-4">

			@foreach (SLVariable v in sLVariables)
			{
				Console.WriteLine((NordicNest.Model.BasicProperties.DefaultSavingAccount));

				if ((v.ID == NordicNest.Model.BasicProperties.DefaultSavingAccount && v.ID == NordicNest.Model.BasicProperties.UserSavingAccount) || v.ID == NordicNest.Model.BasicProperties.UserSavingAccount)
				{
					<div id="showData" class="flex items-center justify-center pt-6">
						<!--button to show the list of all Savings-->
						<button onclick="toggleTables()">
							<div class="absolute top-5 right-5 z-1">
								<i class="fa-solid fa-list hover:text-blue-500 duration-500"></i>
							</div>
						</button>

						<!--button to show the list of all Savings-->
						<button>
							<div id="tables" class="absolute top-5 left-5 z-1">
								<i class="fa-solid fa-pen-to-square hover:text-blue-500 duration-500"></i>
							</div>
						</button>
						<div class="w-2/3">
							<div class="flex items-center justify-center">
								<p class="font-bold text-4xl">
									@v.Name
								</p>
							</div>
							<div class="mt-2 flex items-center justify-center">
								<p class="font-bold text-2xl">
									@v.AmountBalance / @v.TotalAmount
								</p>
							</div>
						</div>
						<div class="w-1/3">
							<!-- First Progress Bar -->
							<div class="block flex justify-center items-center p-8 w-full">
								<div class="relative">
									<div id="circle-bg-1" class="flex justify-center items-center w-32 h-32 rounded-full bg-gray-300">
										<span id="progress-text-1" class="font-semibold text-4xl bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 text-transparent bg-clip-text">0%</span>
									</div>
									<svg class="absolute top-0 left-0 transform -rotate-90 w-full h-full" viewBox="0 0 128 128">
										<circle class="text-gray-300" stroke-width="10" stroke="currentColor" fill="transparent" r="54" cx="64" cy="64"></circle>
										<circle id="progress-bar-lingering-1" stroke-width="10" stroke-dasharray="339.292" stroke-dashoffset="339.292" stroke-linecap="round" fill="transparent" r="54" cx="64" cy="64"></circle>
										<circle id="progress-bar-1" stroke-width="10" stroke-dasharray="339.292" stroke-dashoffset="339.292" stroke-linecap="round" stroke="url(#gradient)" fill="transparent" r="54" cx="64" cy="64"></circle>
										<linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="0%">
											<stop offset="0%" style="stop-color: #3B82F6;"></stop>
											<stop offset="50%" style="stop-color: #9333EA;"></stop>
											<stop offset="100%" style="stop-color: #F472B6;"></stop>
										</linearGradient>
									</svg>
								</div>
							</div>
						</div>
					</div>

					<div id="DataTable" class="hidden">
						<button onclick="showShowData()">hello world!</button>
					</div>

					<script>
						function toggleTables() {
							var showData = document.getElementById("showData");
							var DataTable = document.getElementById("DataTable");

							if (showData.style.display === "none") {
								showData.style.display = "block";
								DataTable.style.display = "none";
							} else {
								showData.style.display = "none";
								DataTable.style.display = "block";
							}
						}

						// Function to hide DataTable and show showData
						function showShowData() {
							var showData = document.getElementById("showData");
							var DataTable = document.getElementById("DataTable");

							showData.style.display = "flex";
							DataTable.style.display = "none";
						}
					</script>

				}
			}
		</div>
		<!-- Amount section -->
		<div class="order-3 xl:order-3 bp-1800:order-2 grid grid-cols-2 bp-1800:grid-cols-4 gap-3 col-span-2">
			<!-- Amount right now -->
			<div class="p-4 bg-gradient-to-br from-blue-500 to-blue-700 col-span-1 bp-1800:col-span-2 rounded-2xl shadow-xl hover:shadow-2xl transition duration-300 transform hover:scale-105 flex items-center justify-center text-center font-extrabold text-4xl text-white">
				Amount right now
			</div>

			<!-- Usable amount -->
			<div class="p-4 bg-gradient-to-br from-green-500 to-green-700 col-span-1 bp-1800:col-span-2 rounded-2xl shadow-xl hover:shadow-2xl transition duration-300 transform hover:scale-105 flex items-center justify-center text-center font-extrabold text-4xl text-white">
				Amount Usable
			</div>

			<!-- Amount right now -->
			<div class="bg-gradient-to-br from-blue-500 to-blue-700 col-span-1 bp-1800:col-span-2 rounded-2xl shadow-xl hover:shadow-2xl transition duration-300 transform hover:scale-105 flex items-center justify-center text-center font-bold text-2xl text-white p-4">
				5000 DKK
			</div>

			<!-- Usable amount -->
			<div class="bg-gradient-to-br from-green-500 to-green-700 col-span-1 bp-1800:col-span-2 rounded-2xl shadow-xl hover:shadow-2xl transition duration-300 transform hover:scale-105 flex items-center justify-center text-center font-bold text-2xl text-white p-4">
				3000 DKK
			</div>

		</div>

		<!-- User Profile with message -->
		<div class="order-1 xl:order-1 col-span-2 bp-1800:order-3 xl:row-span-1 bp-1800:row-span-2 bp-1800:col-span-1 bg-white rounded-2xl shadow-xl min-h-[100px] text-center hover:border-blue-500 duration-300 p-3 relative">
			<!-- the logout button -->
			<a href="/index" class="absolute top-3 right-3 text-gray-500 hover:text-red-500">
				<i class="fa fa-sign-out" aria-hidden="true"></i>
			</a>
			<!-- the edit button -->
			<a href="/index" class="absolute top-3 left-3 text-gray-500 hover:text-red-500">
				<i class="fas fa-user-edit hover:text-green-500 duration-500"></i>
			</a>
			<div class="hidden xl:flex items-center justify-center">
				<div class="flex items-center justify-center w-32 h-32 rounded-full border-2 @borderClass">
					<i class="@iconClass text-6xl @genderClass"> </i>
				</div>
			</div>
			<!--Remove the border when done-->
			<div class="mt-2 flex items-center justify-center gap-3">
				<div class="w-full h-16 rounded-2xl @genderClass @genderClass flex items-center justify-center text-2xl font-bold">Welcome First name</div>
			</div>
			<div class="mt-2 flex items-center justify-center gap-3">
				<div class="w-2/4 h-8 rounded-2xl border-2 @borderClass @genderClass flex items-center justify-center">Username</div>
				<div class="w-2/4 h-8 rounded-2xl border-2 @borderClass @genderClass flex items-center justify-center">Client id</div>
			</div>
			<div class="mt-2 flex items-center justify-center gap-3">
				<div class="w-1/3 h-8 rounded-2xl border-2 @borderClass @genderClass flex items-center justify-center">Gender</div>
				<div class="w-1/3 h-8 rounded-2xl border-2 @borderClass @genderClass flex items-center justify-center">Age</div>
			</div>
			<div class="mt-4 p-3 bg-gray-100 rounded-xl overflow-hidden">
				<!-- Your message content goes here -->
				<!-- For example, you can use a div with a class for styling -->
				<div class="message-box overflow-y-auto max-h-[15rem]">
					<p class="bg-gray-200 p-2 m-2 rounded-xl border border-black">Your messages go here.</p>
					<p class="bg-gray-200 p-2 m-2 rounded-xl border border-black">Your messages go here.</p>
					<p class="bg-gray-200 p-2 m-2 rounded-xl border border-black">Your messages go here.</p>
					<p class="bg-gray-200 p-2 m-2 rounded-xl border border-black">Your messages go here.</p>
					<p class="bg-gray-200 p-2 m-2 rounded-xl border border-black">Your messages go here.</p>
					<p class="bg-gray-200 p-2 m-2 rounded-xl border border-black">Your messages go here.</p>
					<p class="bg-gray-200 p-2 m-2 rounded-xl border border-black">Your messages go here.</p>
					<p class="bg-gray-200 p-2 m-2 rounded-xl border border-black">Your messages go here.</p>
					<p class="bg-gray-200 p-2 m-2 rounded-xl border border-black">Your messages go here.</p>
				</div>
			</div>

		</div>

		<!-- Loan chart -->
		<div class="order-4 xl:order-5 col-span-2 bp-1800:order-4 xl:row-span-1 bp-1800:col-span-1 bg-white rounded-2xl shadow-xl min-h-[100px] flex items-center justify-center text-center hover:border-blue-500 duration-300 relative p-4">

			<!--button to show the list of all loans-->
			<button>
				<div class="absolute top-5 right-5 z-1">
					<i class="fa-solid fa-list hover:text-blue-500 duration-500"></i>
				</div>
			</button>

			<button>
				<div class="absolute top-5 left-5 z-1">
					<i class="fa-solid fa-pen-to-square hover:text-blue-500 duration-500"></i>
				</div>
			</button>

			<div class="w-2/3">
				<div class="flex items-center justify-center">
					<p class="font-bold text-4xl">
						Loan name
					</p>
				</div>
				<div class="mt-2 flex items-center justify-center">
					<p class="font-bold text-2xl">
						amount added / total amount
					</p>
				</div>
			</div>
			<div class="w-1/3">
				<!-- Second Progress Bar -->
				<div class="flex justify-center items-center p-8 w-full">
					<div class="relative">
						<div id="circle-bg-2" class="flex justify-center items-center w-32 h-32 rounded-full bg-gray-300">
							<span id="progress-text-2" class="font-semibold text-4xl bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 text-transparent bg-clip-text">0%</span>
						</div>
						<svg class="absolute top-0 left-0 transform -rotate-90 w-full h-full" viewBox="0 0 128 128">
							<circle class="text-gray-300" stroke-width="10" stroke="currentColor" fill="transparent" r="54" cx="64" cy="64"></circle>
							<circle id="progress-bar-lingering-2" stroke-width="10" stroke-dasharray="339.292" stroke-dashoffset="339.292" stroke-linecap="round" fill="transparent" r="54" cx="64" cy="64"></circle>
							<circle id="progress-bar-2" stroke-width="10" stroke-dasharray="339.292" stroke-dashoffset="339.292" stroke-linecap="round" stroke="url(#gradient)" fill="transparent" r="54" cx="64" cy="64"></circle>
						</svg>
					</div>
				</div>
			</div>
		</div>

		<!-- Subscription payment chart -->
		<div class="order-5 xl:order-6 col-span-2 bp-1800:order-5 xl:row-span-1 bp-1800:col-span-2 bg-white rounded-2xl shadow-xl min-h-[100px] hover:border-blue-500 duration-300 relative">
			<div class="accordion border-b p-4 cursor-pointer text-center">
				Subscription payment chart
			</div>
			<div class="bp-1800:mt-8 bp-1800:text-xl flex flex-col xl:flex-row items-center justify-center px-4">
				<div class="accordion-content p-4">
					<p><strong>Amount:</strong> $XX.XX</p>
					<p><strong>Date:</strong> MM/DD/YYYY</p>
					<p class=""><strong>Subscription to:</strong> XYZ</p>
					<button onclick="myFunction()" class="p-1 border-2 border-teal-300 w-full rounded-2xl">Cancel</button>
				</div>
				<div class="accordion-content p-4">
					<p><strong>Amount:</strong> $XX.XX</p>
					<p><strong>Date:</strong> MM/DD/YYYY</p>
					<p><strong>Subscription to:</strong> XYZ</p>
					<button onclick="myFunction()" class="p-1 border-2 border-teal-300 w-full rounded-2xl">Cancel</button>
				</div>
				<div class="accordion-content p-4">
					<p><strong>Amount:</strong> $XX.XX</p>
					<p><strong>Date:</strong> MM/DD/YYYY</p>
					<p><strong>Subscription to:</strong> XYZ</p>
					<button onclick="myFunction()" class="p-1 border-2 border-teal-300 w-full rounded-2xl">Cancel</button>
				</div>
				<div class="accordion-content p-4">
					<p><strong>Amount:</strong> $XX.XX</p>
					<p><strong>Date:</strong> MM/DD/YYYY</p>
					<p><strong>Subscription to:</strong> XYZ</p>
					<button onclick="myFunction()" class="p-1 border-2 border-teal-300 w-full rounded-2xl">Cancel</button>
				</div>
				<div>
					<div class="absolute flex left-3 top-50">
						<button onclick="MovingAnimationLeft()">
							<i class="fas fa-angle-double-left hover:text-blue-500 duration-500"></i>
						</button>
					</div>
					<div class="absolute flex right-3 top-50">
						<button onclick="MovingAnimationRight()">
							<i class="fas fa-angle-double-right hover:text-blue-500 duration-500"></i>
						</button>
					</div>
				</div>
			</div>
		</div>

		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<script src="/js/sweetalert.js"> </script>


		<!-- Transaction -->
		<div class="order-6 xl:order-2 col-span-2 bp-1800:order-6 xl:row-span-1 bp-1800:col-span-1 bg-white rounded-2xl shadow-xl min-h-[100px] text-center hover:border-blue-500 duration-300">
			<div class="w-full h-16 rounded-2xl text-teal-400 flex items-center justify-center text-2xl font-bold">Your Transaction between peoples</div>
			<div class="p-2 mt-3">
				<table class="min-w-full bg-white border border-gray-300 rounded max-h-full overflow-y-auto">
					<thead>
						<tr>
							<th class="py-2 px-4 border-b">To</th>
							<th class="py-2 px-4 border-b">From</th>
							<th class="py-2 px-4 border-b">Amount</th>
							<th class="py-2 px-4 border-b">Time</th>
						</tr>
					</thead>
					<tbody>
						<tr class="text-center">
							<td class="py-2 px-4 border-b">Recipient Name</td>
							<td class="py-2 px-4 border-b">Sender Name</td>
							<td class="py-2 px-4 border-b">1000 USD</td>
							<td class="py-2 px-4 border-b">12:30 PM</td>
						</tr>
						<tr class="text-center">
							<td class="py-2 px-4 border-b">Recipient Name</td>
							<td class="py-2 px-4 border-b">Sender Name</td>
							<td class="py-2 px-4 border-b">1000 USD</td>
							<td class="py-2 px-4 border-b">12:30 PM</td>
						</tr>
						<tr class="text-center">
							<td class="py-2 px-4 border-b">Recipient Name</td>
							<td class="py-2 px-4 border-b">Sender Name</td>
							<td class="py-2 px-4 border-b">1000 USD</td>
							<td class="py-2 px-4 border-b">12:30 PM</td>
						</tr>
						<!--If there are more then 3 then button will take you to another page-->
					</tbody>
				</table>
				<div class="w-full h-16 rounded-2xl text-teal-400 flex items-center justify-center text-2xl font-bold">
					<a asp-page="#" class="text-teal-500 hover:scale-90 hover:text-green-500 duration-300 font-bold cursor-pointer">Click here for an array of exciting choices!</a>
				</div>
			</div>
		</div>

		<!-- Monthly use Chart -->
		<div class="order-7 xl:order-7 col-span-2 bp-1800:order-7 xl:row-span-1 bp-1800:col-span-3 bg-white rounded-2xl shadow-xl min-h-[100px] flex items-center justify-center text-center hover:border-blue-500 duration-300">
			<canvas id="chartColumnCanvas"></canvas>
		</div>

		<script>
			var chartData = {
				labels: @Html.Raw(labelsJson),
				data: @Html.Raw(dataJson)
												};
		</script>

		<script src="/js/Monthlychart.js"></script>

	</div>

</body>

<script>
	function getProgressBarsFromCSharp() { return @Html.Raw(Json.Serialize(progressBars)); }
</script>

<script src="/js/ProgressBar.js"></script>